
﻿<style>
    .success-message-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .success-message {
        background-color: #23b5b5;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

        .success-message h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        .success-message p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .success-message hr {
            border-color: #fff;
            margin: 20px 0;
        }

        .success-message p:last-child {
            margin-bottom: 0;
        }
</style>

<div class="row">
    <div class="col-md-6 offset-3 success-message-container">
        <div class="success-message">
            <h2>Your Application Completed Successfully</h2>
            <p>You can check all your applications in the Applications section in your profile.</p>
            <hr />
            <p>Good Luck!</p>
        </div>
    </div>
</div>

