﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Account Created Successfully</h2>
        <p>You Can Now Login to Your Profile</p>
        <hr />
        <p>Good Luck!</p>
    </div>
</div>