<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="text-info">You've reached the end of the internet</h1>
                <hr />
                <a class="btn btn-outline-success" asp-controller="Skill" asp-action="Index">Home Page</a>
            </div>
        </div>
    </div>
</div>